
@{
    ViewBag.Title = "Chi tiết sản phẩm";
}



<h2>@Model.TenSP</h2>

<table class="chitiet-table">
    <tr>

        <th>Mã SP</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Ghi chú</th>
        <th>Hình ảnh</th>

    </tr>
    <tr>
        <td>@Model.MaSP</td>
        <td>@Model.TenSP</td>
        <td>@String.Format("{0:N0} VNĐ", Model.DonGia)</td>
        <td>@Model.GhiChu</td>
        <td><img src="~/Content/Images/@Model.Hinh" alt="@Model.Hinh" class="chitiet-image" /></td>
    </tr>
</table>

@Html.ActionLink("Quay lại danh sách", "SanPham_Loai", "Home")
